body {
    font-family: 'Nunito', sans-serif;
}

.banner-heading-border {
    border: 4px solid #D8DBE2;
    padding: 5px 10px;
    display: inline;
}

.hero.is-dark {
    background-color: #1b1b1b;
    color: #D8DBE2;
}

.navbar.is-dark {
    background-color: #1b1b1b;
    color: #D8DBE2;
}

.hero.is-dark .nav {
    -webkit-box-shadow: none;
    box-shadow: none;
}

.hero .nav {
    background: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.box {
    background-color: white;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    color: #4a4a4a;
    display: block;
    padding: 1.25rem;
    border: 1px solid #e7e7e7;
    height: 100%;
}

.flex-wrap {
    flex-wrap: wrap;
}

.tag {
    margin-right: 5px;
}

.work-sample img {
    /* border-radius: 6px; */
    border: 1px solid #e7e7e7;
    padding: 7px;
}

.full-height {
    height: 100%;
}

.navbar-item,
.navbar-link {
    color: #D8DBE2;
}

.navbar.is-dark .navbar-brand>.navbar-item,
.navbar.is-dark .navbar-brand .navbar-link {
    color: #D8DBE2;
}

.navbar.is-dark .navbar-brand>a.navbar-item:hover,
.navbar.is-dark .navbar-brand>a.navbar-item.is-active,
.navbar.is-dark .navbar-brand .navbar-link:hover,
.navbar.is-dark .navbar-brand .navbar-link.is-active {
    background-color: #1b1b1b;
    color: #fff;
}

.isActiveNav {
    color: #58A4B0 !important;
}

.portfolio-heading {
    text-align: center;
    margin: 20px 0 10px 0 !important;
    background: #58A4B0;
    color: #fff;
    padding: 8px 20px;
}

@media screen and (max-width: 768px) {
    .level-left .level-item:not(:last-child),
    .level-right .level-item:not(:last-child) {
        margin-right: 0;
    }
}

@media screen and (max-width: 1023px) {
    .tag {
        margin-top: 10px;
    }
    .navbar-menu {
        background-color: #1b1b1b;
    }
}

@media screen and (min-width: 1024px) {
    .navbar.is-dark .navbar-start>.navbar-item,
    .navbar.is-dark .navbar-start .navbar-link,
    .navbar.is-dark .navbar-end>.navbar-item,
    .navbar.is-dark .navbar-end .navbar-link {
        color: #D8DBE2;
    }
    .navbar.is-dark .navbar-start>a.navbar-item:hover,
    .navbar.is-dark .navbar-start>a.navbar-item.is-active,
    .navbar.is-dark .navbar-start .navbar-link:hover,
    .navbar.is-dark .navbar-start .navbar-link.is-active,
    .navbar.is-dark .navbar-end>a.navbar-item:hover,
    .navbar.is-dark .navbar-end>a.navbar-item.is-active,
    .navbar.is-dark .navbar-end .navbar-link:hover,
    .navbar.is-dark .navbar-end .navbar-link.is-active {
        background-color: #1b1b1b;
        color: #fff;
    }
}