.banner-heading-border {
    border: 4px solid #fff;
    padding: 5px 10px;
    display: inline;
}

.hero.is-dark .nav {
    -webkit-box-shadow: none;
    box-shadow: none;
}

.hero .nav {
    background: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.box {
    background-color: white;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    color: #4a4a4a;
    display: block;
    padding: 1.25rem;
    border: 1px solid #e7e7e7;
    height: 100%;
}

.flex-wrap {
    flex-wrap: wrap;
}

.tag {
    margin-right: 5px;
}

.work-sample img {
    /* border-radius: 6px; */
    border: 1px solid #e7e7e7;
    padding: 7px;
}

@media screen and (max-width: 768px) {
    .level-left .level-item:not(:last-child),
    .level-right .level-item:not(:last-child) {
        margin-right: 0;
    }

}
@media screen and (max-width: 1008px) {
    .tag {
        margin-top: 10px;
    }
}