<nav class="navbar testst" ng-controller="UserController as uc">
    <div class="container">
        <div class="navbar-brand">
            <a class="navbar-item" href="#/home">Sam Fortin</a>
            <div class="navbar-burger burger {{uc.hamburgerStatus}}" ng-click="uc.changeHamburgerStatus()">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
        <div class="navbar-menu {{uc.hamburgerStatus}}" id="nav-menu">
            <div class="navbar-end">
                <a class="navbar-item" href="#/portfolio">Portfolio</a>
                <a class="navbar-item" href="#/repos">Repos</a>
                <a class="navbar-item" href="../../assets/docs/sam_fortin_resume.pdf" target="_blank">Resume</a>
                <a class="navbar-item" href="https://github.com/sjfortin" target="_blank">
                    <span class="icon">
                        <i class="fa fa-github"></i>
                    </span>
                </a>
                <a class="navbar-item" href="https://linkedin.com/in/samfortin" target="_blank">
                    <span class="icon">
                        <i class="fa fa-linkedin"></i>
                    </span>
                </a>
            </div>
        </div>
    </div>
</nav>