<section class="section work-sample">
    <div class="container">
        <p class="title is-3">Other Projects</p>

        <div class="columns">
            <div class="column is-half">
                <div class="card">
                    <div class="card-image">
                        <figure class="image is-4by3">
                            <img src="../../assets/screenshots/personal/pomodoro.png" alt="Pomodoro">
                        </figure>
                    </div>
                    <div class="card-content">
                        <div class="media">
                            <div class="media-content">
                                <p class="title is-4">FreeCodeCamp - Pomodoro</p>
                                <p class="subtitle is-6">
                                    <a href="https://codepen.io/sjfortin/full/NgBGPX/" target="_blank">https://codepen.io/sjfortin/full/NgBGPX/</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="column is-half">
                <div class="card">
                    <div class="card-image">
                        <figure class="image is-4by3">
                            <img src="../../assets/screenshots/personal/todo.png" alt="Todo App">
                        </figure>
                    </div>
                    <div class="card-content">
                        <div class="media">
                            <div class="media-content">
                                <p class="title is-4">Watch and Code - Todo List</p>
                                <p class="subtitle is-6">
                                    <a href="https://codepen.io/sjfortin/full/mBxBBJ/" target="_blank">https://codepen.io/sjfortin/full/mBxBBJ/</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="columns">
            <div class="column is-half">
                <div class="card">
                    <div class="card-image">
                        <figure class="image is-4by3">
                            <img src="../../assets/screenshots/personal/calculator.png" alt="Calculator">
                        </figure>
                    </div>
                    <div class="card-content">
                        <div class="media">
                            <div class="media-content">
                                <p class="title is-4">FreeCodeCamp - Calculator</p>
                                <p class="subtitle is-6">
                                    <a href="https://codepen.io/sjfortin/full/ZyrGeg//" target="_blank">https://codepen.io/sjfortin/full/ZyrGeg/</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="column is-half">
                <div class="card">
                    <div class="card-image">
                        <figure class="image is-4by3">
                            <img src="../../assets/screenshots/personal/quotes.png" alt="Pomodoro">
                        </figure>
                    </div>
                    <div class="card-content">
                        <div class="media">
                            <div class="media-content">
                                <p class="title is-4">FreeCodeCamp - Random Quote Generator</p>
                                <p class="subtitle is-6">
                                    <a href="https://codepen.io/sjfortin/full/ygaZEW/" target="_blank">https://codepen.io/sjfortin/full/ygaZEW/</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>