<section class="section work-sample">
    <div class="container is-fluid">
        <p class="title is-3">Prime Digital Academy
            <!-- <span class="tag is-primary">front-end development</span>
            <span class="tag is-primary">back-end development</span>
            <span class="tag is-primary">version control</span>
            <span class="tag is-primary">team projects</span> -->
        </p>
        <p class="subtitle is-5">June 2017 - October 2017</p>
        <div class="columns">
            <div class="column is-half">
                <div class="card">
                    <div class="card-image">
                        <figure class="image is-4by3">
                            <img src="../../assets/screenshots/prime/showstash.png" alt="ShowStash">
                        </figure>
                    </div>
                    <div class="card-content">
                        <div class="media">
                            <div class="media-content">
                                <p class="title is-4">ShowStash (Prime Solo Project)</p>
                                <p class="subtitle is-6">
                                    <a href="http://showstash.herokuapp.com/" target="_blank">showstash.heroku.com</a>
                                </p>
                            </div>
                        </div>

                        <div class="content">
                            ShowStash is a web application that keeps a record of concerts a user has attended. The app replaces the need to track concerts
                            in a spreadsheet or having a collection of ticket stubs to remember your concert history.
                            <br>Tech Used: PostgreSQL, Express, AngularJS, Node.js, Bulma, Filestack, setlist.fm and last.fm
                            RESTful web services, Angular Toastr.
                        </div>
                    </div>
                </div>
            </div>
            <div class="column is-half">
                <div class="card">
                    <div class="card-image">
                        <figure class="image is-4by3">
                            <img src="../../assets/screenshots/prime/real-estate-listings.png" alt="Real Estate Listings">
                        </figure>
                    </div>
                    <div class="card-content">
                        <div class="media">
                            <div class="media-content">
                                <p class="title is-4">Real Estate Listings</p>
                                <p class="subtitle is-6">
                                    <a href="https://serene-coast-18288.herokuapp.com/">serene-coast-18288.herokuapp.com/</a>
                                </p>
                            </div>
                        </div>
                        <div class="content">
                            AngularJS, Bootstrap 3, Node, Express, MongoDB, Bootstrap, Heroku
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="columns">
            <div class="column is-half">
                <div class="card">
                    <div class="card-image">
                        <figure class="image is-4by3">
                            <img src="../../assets/screenshots/prime/employee-tracking.png" alt="Employee Tracking">
                        </figure>
                    </div>
                    <div class="card-content">
                        <div class="media">
                            <div class="media-content">
                                <p class="title is-4">Employee Expense Tracking</p>
                                <p class="subtitle is-6">
                                    <a href="https://github.com/sjfortin/weekend-challenge-4-employee-tracking" target="_blank">github.com/sjfortin/weekend-challenge-4-employee-tracking</a>
                                </p>
                            </div>
                        </div>
                        <div class="content">
                            AngularJS, Angular Material, Node/Express, AJAX, and SQL
                        </div>
                    </div>
                </div>
            </div>
            <div class="column is-half">
                <div class="card">
                    <div class="card-image">
                        <figure class="image is-4by3">
                            <img src="../../assets/screenshots/prime/todo-list.png" alt="Todo List">
                        </figure>
                    </div>
                    <div class="card-content">
                        <div class="media">
                            <div class="media-content">
                                <p class="title is-4">Full Stack Todo List</p>
                                <p class="subtitle is-6">
                                    <a href="https://github.com/sjfortin/weekend-challenge-3-todo-app">github.com/sjfortin/weekend-challenge-3-todo-app</a>
                                </p>
                            </div>
                        </div>

                        <div class="content">
                            jQuery, Bootstrap, Node.js, Express, PostgreSQL </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>