<section class="section work-sample">
    <div class="container">
        <p class="title is-3">Prime Digital Academy
        </p>
        <p class="subtitle is-5">June 2017 - October 2017</p>
        <div class="columns">
            <div class="column is-half">
                <div class="card full-height">
                    <div class="card-image">
                        <figure class="image is-4by3">
                            <img src="../../assets/screenshots/prime/showstash.png" alt="ShowStash">
                        </figure>
                    </div>
                    <div class="card-content">
                        <div class="media">
                            <div class="media-content">
                                <p class="title is-4">ShowStash (Prime Solo Project)</p>
                                <p class="subtitle is-6">
                                    <a href="http://showstash.herokuapp.com/" target="_blank">showstash.heroku.com</a>
                                </p>
                            </div>
                        </div>

                        <div class="content">
                            <p>ShowStash is a web application that keeps a record of concerts a user has attended. The app replaces
                                the need to track concerts in a spreadsheet or having a collection of ticket stubs to remember
                                your concert history.</p>
                            <div class="tags">
                                <span class="tag is-primary">PostgreSQL</span>
                                <span class="tag is-primary">Express</span>
                                <span class="tag is-primary">AngularJS</span>
                                <span class="tag is-primary">Node.js</span>
                                <span class="tag is-primary">Bulma</span>
                                <span class="tag is-primary">Filestack</span>
                                <span class="tag is-primary">Angular Toastr</span>
                                <span class="tag is-primary">setlist.fm and last.fm RESTful web service</span>
                            </div>                           
                        </div>
                    </div>
                </div>
            </div>
            <div class="column is-half">
                <div class="card full-height">
                    <div class="card-image">
                        <figure class="image is-4by3">
                            <img src="../../assets/screenshots/prime/aeon.png" alt="Aeon Home Survey">
                        </figure>
                    </div>
                    <div class="card-content">
                        <div class="media">
                            <div class="media-content">
                                <p class="title is-4">Aeon Home Survey (Prime Group Project)</p>
                                <p class="subtitle is-6">
                                    <a href="https://github.com/prime-team-aeon/home-survey" target="_blank">github.com/prime-team-aeon/home-survey</a>
                                </p>
                            </div>
                        </div>
                        <div class="content">
                            <p>Aeon is a nonprofit developer of affordable apartment homes in Minneapolis. Collaborating with
                                a team of five developers, we created an online survey app for Aeon’s annual home survey.
                                Our web app provides Aeon with a first step in moving away from their current process of
                                collecting survey responses using paper surveys.</p>
                            <p>My primary responsibility in the project was creating an administrative dashboard for Aeon staff
                                to manage survey properties and users.</p>
                            <div class="tags">
                                <span class="tag is-primary">AngularJS</span>
                                <span class="tag is-primary">Angular Material</span>
                                <span class="tag is-primary">Node.js</span>
                                <span class="tag is-primary">Express</span>
                                <span class="tag is-primary">MongoDB</span>
                                <span class="tag is-primary">MongoDB</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="columns">
            <div class="column is-half">
                <div class="card full-height">
                    <div class="card-image">
                        <figure class="image is-4by3">
                            <img src="../../assets/screenshots/prime/employee-tracking.png" alt="Employee Tracking">
                        </figure>
                    </div>
                    <div class="card-content">
                        <div class="media">
                            <div class="media-content">
                                <p class="title is-4">Employee Expense Tracking</p>
                                <p class="subtitle is-6">
                                    <a href="https://github.com/sjfortin/weekend-challenge-4-employee-tracking" target="_blank">github.com/sjfortin/weekend-challenge-4-employee-tracking</a>
                                </p>
                            </div>
                        </div>
                        <div class="content">
                            <div class="tags">
                                <span class="tag is-primary">AngularJS</span>
                                <span class="tag is-primary">Angular Material</span>
                                <span class="tag is-primary">Node.js</span>
                                <span class="tag is-primary">Express</span>
                                <span class="tag is-primary">AJAX</span>
                                <span class="tag is-primary">PostgreSQL</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="column is-half">
                <div class="card full-height">
                    <div class="card-image">
                        <figure class="image is-4by3">
                            <img src="../../assets/screenshots/prime/real-estate-listings.png" alt="Real Estate Listings">
                        </figure>
                    </div>
                    <div class="card-content">
                        <div class="media">
                            <div class="media-content">
                                <p class="title is-4">Real Estate Listings</p>
                                <p class="subtitle is-6">
                                    <a href="https://serene-coast-18288.herokuapp.com/" target="_blank">serene-coast-18288.herokuapp.com/</a>
                                </p>
                            </div>
                        </div>
                        <div class="content">
                            <div class="tags">
                                <span class="tag is-primary">AngularJS</span>
                                <span class="tag is-primary">Bootstrap</span>
                                <span class="tag is-primary">Node.js</span>
                                <span class="tag is-primary">Express</span>
                                <span class="tag is-primary">MongoDB</span>
                                <span class="tag is-primary">Heroku</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>