<section class="hero is-dark is-fullheight is-bold">
    <div class="hero-head">
        <div ng-include="'/views/partials/nav.html'"></div>
    </div>

    <div class="hero-body">
        <div class="container has-text-centered">
            <h1 class="is-size-1 is-size-2-mobile banner-heading-border">Sam Fortin</h1>
            <br><br>
            <h1 class="title is-size-3-desktop">Minneapolis, MN</h1>
            <h2 class="subtitle is-size-5-desktop">Full Stack Web Developer</h2>
            <p>Recent graduate of the Full Stack Engineering bootcamp at Prime Digital Academy.</p>
            <p>Previously a Web Designer in the conference and event industry.</p>
            <p>Currently looking for new opportunities.</p>
            <br>
            <div class="has-text-centered">
                <span ng-repeat="tech in uc.techList" class="tag is-primary">{{tech}}</span>
            </div>
        </div>
    </div>
</section>