<div ng-include="'/views/partials/nav.html'"></div>

<section class="hero s-bold">
    <div class="hero-body">
        <div class="container is-fluid has-text-centered">
            <h1 class="title is-size-1-desktop banner-heading-border">Portfolio</h1>
        </div>
    </div>
</section>

<div class="container is-fluid">
    <div class="tabs is-large is-centered">
        <ul>
            <li ng-class="{'is-active': pc.currentTab == 'prime'}"><a ng-click="pc.currentTab = 'prime'">Prime Digital Academy</a></li>
            <li ng-class="{'is-active': pc.currentTab == 'metroconnections'}"><a ng-click="pc.currentTab = 'metroconnections'">metroConnections</a></li>
            <li ng-class="{'is-active': pc.currentTab == 'personal'}"><a ng-click="pc.currentTab = 'personal'">Other Projects</a></li>
        </ul>
    </div>
</div>

<div ng-include="'/views/partials/prime.html'" ng-if="pc.currentTab == 'prime'"></div>
<div ng-include="'/views/partials/metroconnections.html'" ng-if="pc.currentTab == 'metroconnections'"></div>
<div ng-include="'/views/partials/personal.html'" ng-if="pc.currentTab == 'personal'"></div>

<div ng-include="'/views/partials/footer.html'"></div>