<div ng-include="'/views/partials/nav.html'"></div>
<section class="hero is-bold">
    <div class="hero-body">
        <div class="container is-fluid has-text-centered">
            <h1 class="title is-size-1-desktop banner-heading-border">Github Repos</h1>
        </div>
    </div>
</section>
<div class="section">
    <div class="container is-fluid">
        <nav class="level">
            <div class="level-left">
                <div class="level-item">
                    <div class="field">
                        <p class="control has-icons-left">
                            <input class="input is-small" type="text" placeholder="search repo name" ng-model="rc.searchRepos.name"><span class="icon is-small is-left"><i class="fa fa-search"></i></span>
                        </p>
                    </div>
                </div>
            </div>
        </nav>
        <div class="columns is-multiline">
            <div class="column is-one-third repo" ng-repeat="repo in rc.repos.data | filter: rc.searchRepos | orderBy: rc.orderBy" ng-if="repo.description">
                <div class="box">
                    <article class="media">
                        <div class="media-content">
                            <div class="content">
                                <p>
                                    <strong>{{repo.name}}</strong> <a ng-href={{repo.html_url}} target="_blank"> <span class="icon is-small"><i class="fa fa-external-link"></i></span></a>
                                    <br>
                                    <span class="is-size-7">Date Last Push: {{repo.pushed_at | date: "shortDate"}}</span>
                                </p>
                                <p>{{repo.description}}</p>
                                <p ng-if="repo.homepage"><a ng-href="{{repo.homepage}}" target="_blank">{{repo.homepage}}</a></p>

                            </div>
                        </div>
                    </article>
                </div>
            </div>
        </div>

        <p class="loading is-size-6 has-primary-text" ng-if="!rc.repos.data.length">Loading Repos . . .</p>

    </div>
</div>
<div ng-include="'/views/partials/footer.html'"></div>