<div ng-include="'/views/partials/nav.html'"></div>
<section class="hero is-dark">
    <div class="hero-body has-text-centered">
        <div class="container">
            <h1 class="title is-size-1 banner-heading-border">Github Repos</h1>
        </div>
    </div>
</section>
<div class="section">
    <div class="container is-fluid">
        <div class="field has-addons">
            <p class="control has-icons-left">
                <input class="input is-small" type="text" placeholder="search repos" ng-model="rc.searchRepos">
                <span class="icon is-small is-left"><i class="fa fa-search"></i></span>
            </p>
        </div>
        <div class="columns is-multiline">
            <div class="column is-one-third" ng-repeat="repo in rc.repos.data | filter: rc.searchRepos | orderBy: vm.orderBy" ng-if="repo.description">
                <div class="box">
                    <article class="media">
                        <div class="media-content">
                            <div class="content">
                                <p>
                                    <strong>{{repo.name}}</strong> <a ng-href={{repo.html_url}} target="_blank"> <span class="icon is-small"><i class="fa fa-external-link"></i></span></a>
                                    <br>
                                    <span class="is-size-7">Last Updated: {{repo.updated_at | date: "shortDate"}}</span>
                                    <p>{{repo.description}}</p>
                                </p>
                            </div>
                        </div>
                    </article>
                </div>
            </div>
        </div>

        <p class="loading is-size-6 has-primary-text" ng-if="!rc.repos.data.length">Loading Repos . . .</p>

    </div>
</div>