<div ng-include="'/views/partials/nav.html'"></div>
<section class="hero is-dark">
    <div class="hero-body has-text-centered">
        <div class="container">
            <h1 class="title">
                Resume
            </h1>
        </div>
    </div>
</section>
<div class="container" id="employment">
    <div class="employment">
        <div class="work-item-container">
            <h1>Employment</h1>
            <div class="company">
                <h2>metroConnections</h2>
                <p>Technology Solutions Designer</p>
                <p>August 2013 - July 2017</p>
                <p>Minneapolis, MN, USA</p>
                <p class="company-desc">Designed and built websites for client conferences and events which included creating registration forms
                    and custom, branded websites. Other online solutions included: mobile apps, graphical emails, presentation
                    portals, and user authentication landing pages. Skills and tools I used on a daily basis included HTML,
                    CSS, basic JavaScript, jQuery, Adobe Photoshop and Illustrator, and various online software solutions.</p>
            </div>
            <div class="company">
                <h2>L&amp;L Management Services, Inc</h2>
                <p>Association Management: Meetings Coordinator</p>
                <p>October 2008 - August 2013</p>
                <p>Minneapolis, MN, USA</p>
                <p class="company-desc">Coordinated website, media, communications, registration, publications and speakers for a 3,000+ person annual
                    neuroscience conference that took place in locations throughout the world.</p>
            </div>
            <div class="company">
                <h2>Global Programs and Strategy Alliance (GPS Alliance)</h2>
                <p>Office Specialist</p>
                <p>October 2007 - October 2008</p>
                <p>University of Minnesota - Twin Cities, Minneapolis, MN, USA</p>
                <p class="company-desc">Supported the Finance department at the GPS Alliance which serves as the central international office for
                    the University of Minnesota system.</p>
            </div>
            <div class="company">
                <h2>Minitex</h2>
                <p>Library Assistant II</p>
                <p>November 2005 - May 2007</p>
                <p>University of Minnesota - Twin Cities, Minneapolis, MN, USA</p>
                <p class="company-desc">Served as an interlibrary liaison between the University of Minnesota library system and Hennepin County
                    libraries.
                </p>
            </div>
        </div>
    </div>
</div>
<div class="container" id="internships">
    <div class="internship">
        <div class="work-item-container">
            <h1>Internships</h1>
            <div class="company">
                <h2>Rebuilding Together - Twin Cities</h2>
                <p>January 2008 - May 2008</p>
                <p>Saint Paul, MN, USA</p>
            </div>
            <div class="company">
                <h2>Dovetail Partners, Inc.</h2>
                <p>August 2007 - December 2007</p>
                <p>Minneapolis, MN, USA</p>
            </div>
        </div>
    </div>
</div>
<div class="container" id="education">
    <div class="education">
        <div class="work-item-container">
            <h1>Education</h1>
            <div class="company">
                <h2>Prime Digital Academy</h2>
                <p>July 2017 - October 2017</p>
                <p>Minneapolis, MN, USA</p>
                <p>Full Stack Engineering</p>
            </div>
            <div class="company">
                <h2>University of Minnesota - Twin Cities</h2>
                <p>2004 - 2007</p>
                <p>Minneapolis, MN, USA</p>
                <p>Urban Studies, Urban Infrastructure and Environment</p>
            </div>
            <div class="company">
                <h2>Anoka-Ramsey Community College</h2>
                <p>2002 - 2004</p>
                <p>Coon Rapids, MN, USA</p>
                <p>General Studies</p>
            </div>
        </div>
    </div>
</div>